<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecut.wang.dao.IOwnerDao">
    <select id="likeSearchOwner" resultType="com.ecut.wang.pojo.Owner" parameterType="Owner">
        select a.OwnerID,a.OwnerPwd,a.OwnerName,a.Sex,a.OwnerTel,a.EnterTime,a.EndTime,a.ResideMode,h.HouseAddress from
        OwnerInfo as a
        left join HouseInfo as h on h.OwnerID=a.OwnerID
        <where>
            <if test="OwnerName !=null and OwnerName !=''">
                AND a.OwnerName LIKE CONCAT('%',#{OwnerName},'%')
            </if>
            <if test="HouseAddress !=null and HouseAddress !=''">
                AND h.HouseAddress LIKE concat('%', #{HouseAddress},'%')
            </if>
            <if test="OwnerTel !=null and OwnerTel !=''">
                AND a.OwnerTel LIKE CONCAT('%',#{OwnerTel},'%')
            </if>
            <if test="ResideMode !=null and ResideMode !=''">
                AND a.ResideMode = #{ResideMode}
            </if>
            <if test="EnterTime !=null">
                AND #{EnterTime1} &lt; a.EnterTime &lt; #{EnterTime2}
            </if>
            <if test="EndTime !=null">
                AND #{EndTime1} &lt; a.EndTime &lt; #{EndTime2}
            </if>
        </where>
    </select>
    <select id="getOwnerInfoById" resultType="com.ecut.wang.pojo.Owner">
        select a.OwnerID
               a.OwnerPwd,
               a.OwnerName,
               a.Sex,
               a.OwnerTel,
               a.EnterTime,
               a.EndTime,
               h.HouseAddress
        from OwnerInfo as a
        where a.OwnerID = #{OwnerID}
    </select>
    <insert id="InsertNewOwner">
        insert into OwnerInfo (OwnerID, OwnerPwd, OwnerName, Sex, OwnerTel, EnterTime, EndTime, ResideMode)
        values (#{OwnerID}, #{OwnerPwd}, #{OwnerName}, #{Sex}, #{OwnerTel}, #{EnterTime}, #{EndTime}, #{ResideMode})
    </insert>
    <insert id="InsertOwnerHouse">
        insert into HouseInfo (HouseID, OwnerID, HouseAddress, HouseArea)
        values (#{HouseID}, #{OwnerID}, #{HouseAddress}, #{HouseArea})
    </insert>
    <update id="updateOwner">
        update OwnerInfo
        set OwnerPwd=#{OwnerPwd},
            OwnerName=#{OwnerName},
            Sex=#{Sex},
            OwnerTel=#{OwnerTel},
            EnterTime=#{EnterTime},
            EndTime=#{EndTime}
        where OwnerID = #{OwnerID}
    </update>
    <update id="updateOwnerHouse">
        update HouseInfo
        set HouseAddress = #{HouseAddress}
        where OwnerID = #{OwnerID}
    </update>
    <select id="getOwnerByHouseAddress" resultType="com.ecut.wang.pojo.Owner">
        select o.*
        from OwnerInfo o
                 left join HouseInfo h on h.OwnerID = o.OwnerID
        WHERE h.HouseAddress = #{HouseAddress}
    </select>
</mapper>