<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecut.wang.dao.iWorkerDao">
     <!--<select id="getAllWorker" resultType="com.ecut.wang.pojo.Worker">-->
         <!--select a.stuffId,a.stuffName,a.birthday,a.telNumber,d.deptName,a.sal,a.performanceSal,a.sex,a.roleId-->
         <!--from t_worker as a left JOIN t_dept d on a.deptId=d.deptId-->
     <!--</select>-->
    <!--<select id="getWorkerInfo" resultType="com.ecut.wang.pojo.Worker">-->
        <!--select * from t_worker as a where a.stuffId=#{stuffId}-->
    <!--</select>-->
    <!--&lt;!&ndash;删除-改isvalid为0&ndash;&gt;-->
    <!--<update id="delWorker">-->
        <!--update t_worker set isvalid=0 where stuffId=#{stuffId}-->
    <!--</update>-->
    <!--<insert id="addWorker">-->
        <!--insert into t_worker values (#{stuffName},#{stuffId},#{birthday},#{telNumber},#{deptId},#{sal},#{performanceSal},#{roleId},#{sex}-->
    <!--,#{password})-->
    <!--</insert>-->
    <!--<update id="editWorker">-->
        <!--update t_worker set stuffName=#{studffName},birthday=#{birthday},telNumber=#{telNumber},sal=#{sal},performanceSal=-->
<!--#{performanceSal},roleId=#{roleId},sex=#{sex},password=#{password}-->
    <!--</update>-->
    <!--<insert id="gotoWork">-->
    <!--insert into t_QD(workerName,inTime,workDate) values (#{name},#{inTime},#{workDate})-->
    <!--</insert>-->
    <!--<update id="gotoHome">-->
        <!--update t_QD set offTime=#{offTime} where workerName=#{name} and workDate=#{workDate}-->
    <!--</update>-->
    <!--<select id="getdkRecord" resultType="com.ecut.wang.pojo.QD">-->
        <!--select * from t_QD-->
    <!--</select>-->
    <!--<select id="getLateRecord" resultType="com.ecut.wang.pojo.QD">-->
        <!--select * from table_name t_QD WHERE ( UNIX_TIMESTAMP(inTime)-UNIX_TIMESTAMP()) dif_second-->
    <!--</select>-->
</mapper>